*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(50,54,62);
}

#container{
    height: 650px;
    width: 500px;
    background-color: rgb(52, 68, 97);
    position: relative;
    top :40px;
    margin: auto;
    /* border: solid 2px white; */
    border-radius: 30px;
    box-shadow: 0px 0px 10px 15px rgb(65, 57, 57);

}

#container h2{
    margin-top: 25px;   
    color: white;
    /* border:solid 2px white; */
    text-align: center;
}

#container input{
    margin: 20px 20% 10px 20%;
    height: 40px;
    width: 60%;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 20px;
    box-shadow:0px 0px 2px 2px white;
}

#list{
    list-style: none;
    margin-top: 20px;
    /* border: 2px solid white; */
    height: 500px;
    padding: 5px;
    overflow-y: auto;
}

#list li{
    /* border:solid 2px white; */
    height: 40px;
    margin:10px 10% 10px 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 5px;
    transition: all 2s;
}

#list li:hover{
    cursor: grab;
    /* transform: rotate(5deg),translateY(4); */

}

.checked{
    height: 35px;
    width: 35px;
    color: white;
    background: rgb(39, 35, 35);
    margin-left: 10px;
    /* border: solid 1px white; */
    box-shadow:0px 0px 2px 2px rgb(70, 63, 63);
    border-radius: 50%;
}

#list li h4{
    height: 35px;
    /* flex-grow: 1; */
    width:70%;
    /* border: solid 1px white; */
    border-radius: 15px;
    text-align: center;
    line-height: 1.4rem;
    color: white;
    padding-top: 5px;
    background-color: rgb(18, 100, 100);
    box-shadow: 0px 0px 4px 2px  rgb(12, 67, 67);
    text-overflow: ellipsis;
} 

.remove{
    /* border:solid 2px white; */
    background-color: rgb(166, 13, 13);
    height: 36px;
    width: 36px;
    color: red;
    margin: 2px 5px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(123, 23, 23);
}

.remove::before{
    position: absolute;
    top:4px;
    left: 17px;
    background-color: white;
    content: '';
    height: 25px;
    width: 1px;
    border:solid 1px white;
    transform: rotate(-45deg);
}

.remove::after{
    position: absolute;
    top:4px;
    left: 17px;
    background-color: white;
    content: '';
    height: 25px;
    width: 1px;
    border:solid 1px white;
    transform: rotate(45deg);
}


#total{
    /* border: 2px solid white; */
    display: inline-block;
    padding: 3px;
    width: 50%;
    margin:5px 25%;
    color: white;
    /* border-radius: 15px; */
    /* box-shadow: 0px 0px 2px 2px rgb(39, 26, 51); */
}


